/* Global reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Starting point */

@media only screen and (max-width: 600px) {
    .content-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 75px 200px 1fr; 
        background-color: #ECEEF1;
    }
    
    .page-header{
        background-color: #fff;
        width: 1fr;
        grid-row: 1;
       
    }
    
    .navbar {
        grid-column: 1 / span 2;
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #fff;             
    }

    .nav-header{
        grid-column: 1 / span 2;
        height: 50px;
        background-color: #ECEEF1;
        justify-content: center;

    }

    /* Nav project input container */
    .project-input-container{
        display: none;
        grid-template-columns: 250px 1fr;       
        height: 30px;
    }

    .show {
        display: grid;
    }
        
    
    
    .main-content {
        background-color: #ECEEF1;
        grid-row: 3;
        grid-column: 1 / span 2;
    }
}

body{
    background-color: #ECEEF1;
}

.content-container{
    display: grid;
    grid-template-columns: 300px 1fr;
    background-color: #ECEEF1;
}

.page-header{
    background-color: #4C4C4C;
    grid-column: 1 / span 2;
    height: 75px;
}

.navbar {

    background-color:  #4C4C4C;
    min-height: 800px;
    padding: 30px 0;
}

.main-content {
    background-color: #ECEEF1;
    padding: 0 10px;
}

/* Header css */
.header{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top:10px;
    padding-bottom: 30px;
}

.page-header{
    font-size: 60px;
}

.nav-header{
    font-size: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns:160px 40px;
    padding-bottom: 30px;
}

.content-header{
    font-size: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 50px;
    padding: 10px 0 20px 0;
}

/* Buttons */
.btn{    
    color: white;
    background-color: #0077C5;
    border-radius: 5px;
    border: #0077C5;
    font-size: 15px;
}

.table-btn {
    
    width: 50px;
    height: 30px;
}

.btn:hover{
    background-color: royalblue;
}
/* Nav project input container */
.project-input-container{
    display: none;
    grid-template-columns: 250px 1fr;
    grid-gap: 5px;
    padding: 0 10px;    
    height: 30px;
}

/* table */
.data-table {
    display: relative;
	font-family: "Trebuchet MS", Ariel, Helvetica, sans-serif;
	border-collapse: collapse;
    padding: 0 10px;    
    width: 100%;
}

.data-table td, .data-table th {
	border: 1px solid #ccc;	
}

.data-table tr:nth-child(even) {
	background-color: #f2f2f2;
}

.data-table tr:hover {
	background-color: #ccc;
}

.data-table th {
	padding-top: 15px;
	padding-bottom: 12px;    
	background-color: #4C4C4C;
    color: #ddd;
    text-align: center;
   
}

/* table end */

#project-list > li {
    display: grid;
    grid-template-columns: 200px 30px;
    font-size: 30px;
    grid-gap: 15px;
    padding: 15px 20px 15px 20px;    
}

.projects {
    position: relative;
   
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
}

.projects:hover{
    background-color: #ddd;
}


  /* Content CSS */
.form-content-container{    
    display: none;
    background-color: green;   
}

.input-form {
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    flex-direction: column;    
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    z-index: 1;
    padding: 0 10px;    
}

.header-text-form{   
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #4C4C4C;
    line-height: 1.1;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-input {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    flex-direction: column;
    grid-gap: 10px;
}

.input-span {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 15px;
    color: #4C4C4C;
}
.input-box {
    width: 280px;
    height:30px;
    border-radius: 5px;
    padding: 0 5px;
}

.form-button {
    align-content: center;
    margin: 5px auto;
    height: 50px;
    width: 300px;
}

.large-input-box {
    height: 100px;
    word-break: break-all;
    word-wrap: break-word;
    resize: none;
}

.message-input-container{
    grid-column: 3;
    grid-row: 1 /span 2;
}

/* CSS to toggle buttons */
.show {
    display: grid;
}

.priority {
    background-color: rgb(248, 159, 86)!important;
}

